﻿label {
    font-weight: normal;
}

.cs-field-label {
    text-align: right;
    margin-top: 7px;
    white-space: nowrap;
}


html, body {
    height: 100%;
}

label {
    font-weight: normal;
}

.noResize {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}

.vertical-menu-body {
    margin-top: 10px;
}

.minWidth {
    min-width: 125px;
}

.top-menu-body {
    margin-top: 60px;
}

.modal-large .modal-dialog {
    width: 70%;
    height: 550px;
    overflow: auto;
}

/***************************************************/
/************* VERTICAL MENU ***********************/
/***************************************************/
.cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 597;
}

    .cssmenu ul li {
        border: 1px solid lightgray;
        padding-top: 10px;
        line-height: 26px;
    }

        .cssmenu ul li.hover,
        .cssmenu ul li:hover {
            position: relative;
            z-index: 599;
            cursor: pointer;
            background-color: lightgreen;
        }

            .cssmenu ul li:hover > ul {
                visibility: visible;
            }

    .cssmenu ul ul {
        top: 0;
        left: 100%;
        z-index: 598;
        width: 150px;
        visibility: hidden;
        position: absolute;
        white-space: nowrap;
    }

        .cssmenu ul ul a {
            padding: 15px 10px 15px 10px;
        }

        .cssmenu ul ul li {
            background: white;
            border: 1px solid silver;
            border-radius: 7px;
            float: none;
            line-height: 5px;
            padding-top: 0;
        }

            .cssmenu ul ul li:hover {
                background-color: lightgreen;
            }

.cssmenu span,
.cssmenu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
}

.cssmenu li:hover > a,
.cssmenu li.active > a {
    cursor: pointer;
}

/***************************************************/
/************* LOGIN PAGE  *************************/
/***************************************************/
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

:focus {
    outline: 0;
}

.loginform {
    width: 245px;
    /*margin: 0 auto;*/
    padding: 13px;
    background-color: #fafafa;
    background-color: rgba(250,250,250,0.8);
    -ms-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*height: 240px;*/
}

    .loginform ul {
        padding: 0;
        margin: 0;
    }

    .loginform li {
        display: block;
        /*display: inline;*/
        float: none;
    }

        .loginform li button {
            margin-left: 25px;
        }

    .loginform input:not([type=submit]) {
        padding: 5px;
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    }

    .loginform input[type=submit] {
        border: 1px solid rgba(0, 0, 0, 0.3);
        background: #64c8ef; /* Old browsers */
        background: -moz-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* IE10+ */
        background: linear-gradient(to bottom, #64c8ef 0%,#00a2e2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
        color: #fff;
        padding: 5px 15px;
        margin-right: 0;
        margin-top: 15px;
        border-radius: 3px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    }

.forgotPassword {
    cursor: pointer;
    color: blue;
    margin-left: 15px;
}

    .forgotPassword:hover {
        color: green;
    }

h3.somemarginH {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 9px;
    font-weight: normal;
}

.main-box {
    width: 900px;
    border: 1px solid gainsboro;
}

/***************************************************/
/****************** ANGULAR JS *********************/
/***************************************************/

/*input:required, textarea:required, select:required {
    background: #fff url(images/validation/red_asterisk.png) no-repeat 98% center;
}*/

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty select.ng-invalid.ng-dirty {
    background: #fff url(images/validation/invalid.png) no-repeat 98% center;
    -webkit-box-shadow: 0 0 5px #d45252;
    -ms-box-shadow: 0 0 5px #d45252;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}

input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
    background: #fff url(images/validation/valid.png) no-repeat 98% center;
    -webkit-box-shadow: 0 0 5px #5cd053;
    -ms-box-shadow: 0 0 5px #5cd053;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

/***************************************************/
/****************** OTHER  *************************/
/***************************************************/


.back-image {
    background-image: url(images/algologo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.align-right {
    text-align: right;
}

.round-corners {
    -ms-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.loading-new-element {
    z-index: 1001;
    padding: 200px 500px;
    position: absolute;
}

/* ReSharper disable UnknownHtmlAttribute */
/* ReSharper disable Html.AttributeNotResolved */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/* ReSharper restore Html.AttributeNotResolved */
/* ReSharper restore UnknownHtmlAttribute */

.centered {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
}

/* ANIMATIONS  */
div[ng-view].ng-enter, div[data-ng-view].ng-enter {
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.ng-enter {
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}

.ng-leave {
    -webkit-animation: fadeOut 1.5s;
    -moz-animation: fadeOut 1.5s;
    -ms-animation: fadeOut 1.5s;
    -o-animation: fadeOut 1.5s;
    animation: fadeOut 1.5s;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    float: left;
}

    .fileContainer [type=file] {
        cursor: pointer;
        display: block;
        font-size: 999px;
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        min-height: 100%;
        -moz-min-width: 100%;
        -ms-min-width: 100%;
        -o-min-width: 100%;
        -webkit-min-width: 100%;
        min-width: 100%;
        -ms-opacity: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }

.nomarginpadding {
    margin: 0;
    padding: 0;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

/* styles for taxlist */
.tax-list-heading {
    line-height: 15px;
    font-size: 15px;
}

.tax-list-box {
    height: 250px;
    min-height: 250px;
    border: solid 1px #008080;
    overflow-y: scroll;
    margin-bottom: 5px;
}

    .tax-list-box .tax-list-box-no-data {
        min-height: 250px;
    }

        .tax-list-box .tax-list-box-no-data label {
            line-height: 250px;
        }

/*policy pages style*/
.box {
    min-height: 250px;
    overflow-y: auto;
    border: solid 1px #bce8f1;
    background: white;
}

    .box div.policy-name-box {
        margin-top: 2px;
        height: 30px;
        padding-left: 4px;
        padding-top: 2px;
    }

    .box div.expired {
        border: solid 1px #1148AD;
        background: #718FC7;
        color: black;
    }

    .box div.draft {
        border: solid 1px #AD8C09;
        background: #DBBA35;
    }

    .box div.approved {
        border: solid 1px #52BA0D;
        background: #9BF062;
    }

    .box div.unapproved {
        border: solid 1px #000000;
        background: #808080;
    }

    .box .clickableName {
        font-size: 15px;
        font-style: normal;
        cursor: pointer;
        font-family: Georgia;
    }

.margin-box {
    margin-top: 5px;
}

/* subpolicy screens styles*/
.box-sub {
    width: 100%;
    border: solid 1px #bce8f1;
    background: white;
    height: 450px;
}

    .box-sub div.box-heading {
        font-weight: bold;
        font-size: 14px;
        font-family: verdana;
        line-height: 40px;
        color: #31708f;
        background-color: #d9edf7;
        padding-left: 7px;
        height: 40px;
    }

    .box-sub div.box-body {
        height: 410px;
        overflow-y: scroll;
    }

        .box-sub div.box-body div.sub-name {
            margin-top: 5px;
            width: 100%;
            background: white;
        }

            .box-sub div.box-body div.sub-name a {
                line-height: 35px;
                padding: 8px;
                color: black;
                text-decoration: none;
                background: white;
                width: 100%;
            }

            .box-sub div.box-body div.sub-name:hover,
            .box-sub div.box-body div.sub-name:hover a,
            .box-sub div.box-body div.sub-name:hover a:hover {
                text-decoration: underline;
                color: #a94442;
                background-color: #f2dede;
            }

#subpolicy-conditions,
#subpolicy-display,
#subpolicy-groupby,
#subpolicy-output,
#subpolicy-buttons {
    margin-bottom: 10px;
}


/*typeahed */
.typeahead-lg + ul.dropdown-menu {
    width: 500px !important;
    height: 300px !important;
    overflow: scroll !important;
}

.typeahead-md + ul.dropdown-menu {
    width: 300px;
    height: 250px;
    overflow: scroll;
}

.typeahead-sm + ul.dropdown-menu {
    width: 200px;
    height: 250px;
    overflow: scroll;
}

/*.cs-field label {
    
}*/

.cs-field-label {
    text-align: right;
    margin-top: 7px;
    white-space: nowrap;
    padding-right: 0;
}

.text-shadow {
    -ms-text-shadow: black 5px 3px 3px;
    text-shadow: black 5px 3px 3px;
}

.cs-field-radio-margin {
    margin: 7px 0 0 0;
}

.pink {
    background: #f4a460;
}

.red {
    background: #98fb98;
   
  -webkit-box-shadow:none ;
    box-shadow: none;
}

.myClassBox {
    border: 10px solid #d9edf7;
    padding: 5px 40px;
    /*background:none;*/
    border-radius: 2px;
}

.roomChartBox {
    height: 100px;
    border: solid 2px brown;
    margin: 1px;
}
.disableMyClass 
     {
  text-decoration: none;
  cursor: not-allowed;
  background: #98fb98;
 
}
.remove {
    background:none; 
}
.rectangle {
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin: 5px;
    padding: 5px;
}