﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>hotel app</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/pnotify.custom.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<!-- background="images/MAC_070.JPG"-->
<body data-ng-app="hotelmodule" style="background-image: url(images/logo.jpg); background-position: bottom right; background-repeat: no-repeat; background-attachment: fixed">
    <div data-ng-controller="userController">
        <div data-ng-if="loginshow">
            <form name="loginForm">
                <div class="col-md-2"></div>
                <div class="panel panel-info col-md-7">
                    <div class="panel-heading">
                        <h3><b>Login page</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="{{imageurl}}" class="img-circle" />
                        </div>
                       
                        <cs-form layout="10.5.4">
                    
                            <cs-field field="LoginFields.Username" data-ng-model="login.UserName"></cs-field>
                            <cs-field field="LoginFields.Password" data-ng-model="login.Password"></cs-field>
                        </cs-form>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-default btn-lg" ng-class="{'btn-primary':star,'btn-info':!star }" ng-mouseenter="star=!star" ng-mouseleave="star=!star" data-ng-click="loginsuccess(login)"><i class="fa fa-gbp"></i>ogin</button>
                    </div>

                </div>
            </form>
        </div>

        <div data-ng-if="!loginshow">
            <div class="text-right">
                <button class="btn btn-default btn-lg" ng-class="{'btn-primary':star,'btn-info':!star }" ng-mouseenter="star=!star" ng-mouseleave="star=!star" data-ng-click="loginout()"><i class="fa fa-gbp"></i>og  <i class="fa fa-spinner"></i>ut</button>
            </div>
            <div class="col-md-1" style="padding-left: 0px">
                <div class="cssmenu ">

                    <ul>
                        <li data-ng-show="admin">
                            <a href="#/aaddhotel">
                                <i class="fa fa-h-square fa-3x" style="color: darkcyan"></i>
                                <h4>Hotel Master</h4>
                            </a>

                        </li>
                        <li data-ng-show="admin"><a href="#/cuser">
                                                    <i style="color: yellowgreen" class="fa fa-users fa-3x"></i>
                                                    <h4>User Master</h4>
                                                </a></li>


                        <li data-ng-show="admin">
                            <a>
                                <i class="fa fa-building fa-3x" style="color: blueviolet"></i>
                                <h4>Room Master</h4>
                            </a>
                            <ul>
                                <li><a href="#/broomtype">Room Type</a></li>
                                <li><a href="#/broom">Room Add</a></li>
                            </ul>
                        </li>

                        <li data-ng-show="user"><a href="#/TodayBooking">
                                                           <i style="color: yellowgreen" class="fa fa-bold fa-3x"></i>
                                                           <h4>Room Chart</h4>
                                                       </a></li>
                        <li data-ng-show="user"><a href="#/NewBooking">
                                                           <i style="color: yellowgreen" class="fa fa-calendar fa-3x"></i>
                           
                                                           <h4>New Booking</h4>
                                                       </a></li>

                        <li data-ng-show="user"><a href="#/viewBookings">
                                                           <i style="color: yellowgreen" class="fa fa-bold fa-3x"></i>
                                                           <h4>All Booking</h4>
                                                       </a></li>
                        

                         <li data-ng-show="user">
                                 <a>
                                     <i class="fa fa-asterisk fa-3x" style="color: mediumspringgreen"></i>
                                    <h4>Reports</h4>
                                 </a>
                                 <ul>
                                     <li><a href="#/dailyReport">Daily Report</a></li>
                                     <li><a href="#/monthlyReport">Monthly Report</a></li>
                                     </ul>
                             </li>
                    </ul>
                </div>
            </div>
       <div class="col-md-8">
            <br />
            <br />

            <div ng-view="" class="ng-enter"></div>
        </div>
</div>
     </div>

    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/restangular/restangular.js"></script>
    <script src="Scripts/pnotify.custom.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/angular-ui/ui-utils-ieshiv.min.js"></script>
    <script src="Scripts/angular-ui/ui-utils.min.js"></script>
    <script src="Scripts/underscore.js"></script>
    <script src="Scripts/moment.min.js"></script>

    <script src="Models/home.js"></script>
    <script src="Models/Hotel.js"></script>
    <script src="Models/userDetails.js"></script>
    <script src="Models/booking.js"></script>
    <script src="Models/models.js"></script>
    <script src="Models/input-directives.js"></script>
    <script src="Models/directives.js"></script>
    <script src="Models/factories.js"></script>
    <script src="Models/RoomType.js"></script>
    <script src="Models/Room.js"></script>
    <script src="Models/report.js"></script>
    <!-- <script src="~/Scripts/jquery-1.9.1.min.js"></script>
            <script src="~/Scripts/angular.js"></script>
            <script src="~/Scripts/pnotify.custom.min.js"></script>
            <script src="~/Scripts/angular-route.min.js"></script>
            <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
            <script src="~/Scripts/angular-ui/ui-utils-ieshiv.js"></script>
            <script src="~/Scripts/angular-ui/ui-utils.js"></script>
            <script src="~/Models/Hotel.js"></script>
            <script src="~/Models/home.js"></script>
            <script src="~/Models/factories.js"></script>
            <script src="~/Models/directives.js"></script>
            <script src="~/Models/input-directives.js"></script>
            <script src="~/Scripts/underscore.js"></script>
            <script src="~/Scripts/moment.js"></script>-->
</body>
</html>
