﻿<!DOCTYPE html>
<html data-ng-app="hotelmodule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/pnotify.custom.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
     <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/angular.js"></script> 
    <script src="~/Scripts/pnotify.custom.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-ui/ui-utils-ieshiv.js"></script>
    <script src="~/Scripts/angular-ui/ui-utils.js"></script>
    <script src="~/Models/Hotel.js"></script>
    <script src="~/Models/home.js"></script>
    <script src="~/Models/factories.js"></script>
    <script src="~/Models/directives.js"></script>
    <script src="~/Models/input-directives.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/moment.js"></script>

   @RenderSection("scripts", required: false)
</body>
</html>
