﻿<div>
  
    
    <div class="panel-info">
        <div class="panel-heading"><b>Add Hotel</b></div>
        <form name="formn">
            <div class="panel-body">
                <cs-form layout="10.5.4">
                    <cs-field field="hotel.hotelname" data-ng-model="addhotels.Name"></cs-field>
                    <cs-field field="hotel.hotelcity" data-ng-model="addhotels.City"></cs-field>
                               
                </cs-form>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-info " data-ng-disabled="formn.$invalid" data-ng-click="hoteladds(addhotels)">Add Hotel</button>
            </div>
        </form>
    </div>


    <div data-ng-show="addhl">
        <div class="text-center">
            <b>You have added {{count}} hotels.</b>
        </div>
        <div class="col-md-10">
            <table class="table text-justify table-bordered ">
                <b data-ng-style="{color:'red'}">Hotel details</b>
                <thead>
                    <tr style="background-color: orange">
                        <th>Hotel Name</th>
                        <th>City</th>

                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in recdetails">

                        <td>{{row.Name}}</td>
                        <td>{{row.City}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
