﻿<div>
    <div class="panel-info ">
        <div class="panel-heading text-right" >
           <b>Booking On Date: {{dateDisplay}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-info btn-medium" data-ng-disabled="formn.$invalid" data-ng-show="newBookButton" data-ng-click="newBook()">New Booking</button>
                <button class="btn btn-info btn-medium" data-ng-disabled="formn.$invalid" data-ng-show="viewBookButton"  data-ng-click="viewBook()">View Booking</button>
            
            </div></div>
   
    <div class="panel panel-info" data-ng-show="calenderForm">
       <!-- <div class="panel-heading">
            <div class="text-center">
               
            </div>
        </div>-->
        <div class="rectangle alert-info" ng-form="dateBook">
            <h5 data-ng-style="{color:'purple'}" class="text-center"><b>Booking calender</b></h5>
            <cs-form layout="6.4.8">
                <cs-field class="alert-info" field="dateBooking.bookMonth" data-ng-model="dbook.dmonth" data-ng-init=""  data-ng-change="eventfun(dbook)"></cs-field>
                <cs-field field="dateBooking.bookYear" data-ng-model="dbook.dyear"  data-ng-init=""  data-ng-change="eventfun(dbook)"></cs-field>
            </cs-form>

        </div>
        <div class="panel-body alert in alert-info">

            <div class="center-block">
                <table class="table text-info table-bordered" style="min-height: 450px">
                    <thead>
                        <tr class="alert-primary" data-ng-style="{color:'purple'}">
                            <th ng-class="{'btn-default':as,'btn-default':!as }" ng-mouseenter="as=!as" ng-mouseleave="as=!as">Sun</th>
                            <th ng-class="{'btn-default':s,'btn-default':!s }" ng-mouseenter="s=!s" ng-mouseleave="s=!s">Mon</th>
                            <th ng-class="{'btn-default':q,'btn-default':!q }" ng-mouseenter="q=!q" ng-mouseleave="q=!q">Tue</th>
                            <th ng-class="{'btn-default':d,'btn-default':!d }" ng-mouseenter="d=!d" ng-mouseleave="d=!d">Wed</th>
                            <th ng-class="{'btn-default':v,'btn-default':!v }" ng-mouseenter="v=!v" ng-mouseleave="v=!v">Thu</th>
                            <th ng-class="{'btn-default':b,'btn-default':!b }" ng-mouseenter="b=!b" ng-mouseleave="b=!b">Fri</th>
                            <th ng-class="{'btn-default':l,'btn-default':!l }" ng-mouseenter="l=!l" ng-mouseleave="l=!l">Sat</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td ng-class="{'pink': data.countDay>0,'btn-default':!a}" ng-mouseenter="a=!a" ng-mouseleave="a=!a" class="text-center " data-ng-repeat="data in firstarrays track by $index" data-ng-click="joindate(data.dates)">
                                <h4 class="text-left"><b>{{checkDate(data.dates)}}</b></h4>
                                <br />
                                <b data-ng-style="{color:'red'}" class="text-right"><b>{{checkBookcount(data.countDay)}}</b></b>
                            </td>
                        </tr>
                        <tr>
                            <td ng-class="{'pink': dattwo.countDay>0,'btn-default':!a}" ng-mouseenter="a=!a" ng-mouseleave="a=!a" class="text-center" data-ng-repeat="dattwo in secondarray track by $index" data-ng-click="joindate(dattwo.dates)">
                                <h4 class="text-left"><b>{{checkDate(dattwo.dates)}}</b> </h4>
                                <div data-ng-style="{color:'red'}" class="text-right"><b>{{checkBookcount(dattwo.countDay)}}</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-class="{'pink': datthree.countDay>0,'btn-default':!a}" ng-mouseenter="a=!a" ng-mouseleave="a=!a" class="text-center" data-ng-repeat="datthree in thirdarray track by $index" data-ng-click="joindate(datthree.dates)">
                                <h4 class="text-left"><b>{{checkDate(datthree.dates)}}</b></h4>
                                <div data-ng-style="{color:'red'}" class="text-right"><b>{{checkBookcount(datthree.countDay)}}</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-class="{'pink': datf.countDay>0,'btn-default':!a}" ng-mouseenter="a=!a" ng-mouseleave="a=!a" class="text-center" data-ng-repeat="datf in fourarray track by $index" data-ng-click="joindate(datf.dates)">
                                <h4 class="text-left"><b>{{checkDate(datf.dates)}}</b></h4>
                                <div data-ng-style="{color:'red'}" class="text-right"><b>{{checkBookcount(datf.countDay)}}</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-class="{'pink': datf1.countDay>0,'btn-default':!a}" ng-mouseenter="a=!a" ng-mouseleave="a=!a" class="text-center" data-ng-repeat="datf1 in fivearray track by $index" data-ng-click="joindate(datf1.dates)">
                                <h4 class="text-left"><b>{{checkDate(datf1.dates)}}</b></h4>
                                <div data-ng-style="{color:'red'}" class="text-right"><b>{{checkBookcount(datf1.countDay)}}</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-class="{'pink': datf11.countDay>0,'btn-default':!a}" ng-mouseenter="a=!a" ng-mouseleave="a=!a" class="text-center" data-ng-repeat="datf11 in sixarray track by $index" data-ng-click="joindate(datf11.dates)">
                                <h4 class="text-left"><b>{{checkDate(datf11.dates)}}</b></h4>
                                <div data-ng-style="{color:'red'}" class="text-right"><b>{{checkBookcount(datf11.countDay)}}</b></div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="text-center" data-ng-show="bookTable">
        <div class="panel panel-info">
            <div class="panel-heading">Booking Details</div>
            <div class="panel-collapse">
                <table class="table text-justify table-bordered ">
                   <thead>
                        <tr style="background-color: darkseagreen">

                            <th>Custmer Name</th>
                            <th>Contact No</th>
                            <th>City</th>
                            <th>Room No</th>
                            <th>Status</th>
                            <th>Comment</th>
                    
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="bok in viewBookingArray">
                            <td>{{bok.CustomerName}}</td>
                            <td>{{bok.MobileNumber}}</td>
                            <td>{{bok.City}} </td>
                            <td>{{bok.RoomNumber}} </td>
                            <td>{{bok.Status}} </td>
                            <td>{{bok.Comment}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <button class="btn btn-info btn-medium" data-ng-disabled="formn.$invalid" data-ng-click="backCalender()">Back</button>
            
                </div>
            </div>
        </div>
       
    </div>
    <div class="panel panel-info" data-ng-show="newBookingForm">
        <div class="panel panel-info">
        <div class="panel-body">
            <div style="height: 200px; overflow: auto" >
              
                     <div ng-class="{ 'pink': ar.click==='true','disableMyClass':ar.status==='Book'}" 
                     class="row col-md-3 text-center roomChartBox" data-ng-model="checkedModel" 
                     data-ng-click="chartDetail(ar,$index)" data-ng-repeat="ar in RoomCharts" tooltip="You can Book multiple Room"  tooltip-trigger="mouseenter" tooltip-placement="right">
                    <div class="text-left"><b>{{ar.bedtyp}}</b></div>
                    <h4 class="text-center" data-ng-style="{color:'purple'}"><b>{{ar.Rm}}</b></h4>
                    <div class="text-left"><b>{{ar.catg}}</b></div>
                         <div class="text-left" data-ng-style="{color:'red'}" data-ng-hide="true"><b>{{ar.status}}</b></div>
                         <div class="text-left" data-ng-hide="true"><b>{{ar.click}}</b></div>
                </div>
                              </div>
            </div>
        </div>
        
        <div class="panel-heading">
            <b>New Booking On Date: {{dateDisplay}}</b>
            <div class="text-right">
            </div>
        </div>
        <div class="panel-body">
            <div ng-form="bookingForm">
                <cs-form layout="10.4.5">
                     <cs-field field="booking.bookHotelname" data-ng-model="rbooking.Hotel.Name" data-ng-hide="true"> </cs-field>
                    <cs-field field="booking.bookRoomCount" data-ng-disabled="true" data-ng-model="countBook" ></cs-field>
                    <cs-field field="booking.bookCustname" data-ng-model="rbooking.CustomerName"></cs-field>
                    <cs-field field="booking.bookContact" data-ng-model="rbooking.MobileNumber"></cs-field>
                    <cs-field field="booking.bookcustcity" data-ng-model="rbooking.City"></cs-field>
                   <cs-field field="booking.bookcheckDate" data-ng-model="rbooking.CheckInDate" data-ng-hide="true"></cs-field>
                    <cs-field field="booking.bookcheckOutDate" data-ng-model="rbooking.CheckOutDate" data-ng-hide="true"></cs-field>
                    <cs-field field="booking.bookcheckUpdateDate" data-ng-model="UpdatetedOn"  data-ng-hide="true"></cs-field>
                    <cs-field field="booking.bookComment" data-ng-model="rbooking.Comment"></cs-field>
                </cs-form>

                <div class="panel-footer text-right">
                    <button class="btn btn-info btn-medium"   data-ng-disabled="bookingForm.$invalid"
                        data-ng-click="bookingreq(rbooking)">
                        Book</button>
                    <button class="btn btn-info btn-medium" data-ng-disabled="formn.$invalid" data-ng-click="backCalender()">Back</button>

                </div>
            </div>
        </div>
    </div>
</div>
