﻿<div>
 <div class="panel panel-info">
     <div class="panel-heading"><b>Daily Booking</b></div>
     
     <div class="panel-body">
         <div ng-form="datePicker">
             <cs-form layout="6.4.6">
                 <cs-field field="datepicker.dailyDate" data-ng-model="datePickerSelect.dailydate" data-ng-change="dailyDateClick(datePickerSelect.dailydate)"></cs-field>
             </cs-form>
         </div>
         <div class="rectangle">
             <b data-ng-style="{color:'purple'}">Total Booking Request={{request}}</b><br/>
             <b data-ng-style="{color:'purple'}">Total Checked In={{count}}</b>
             </div><br/>
         
         <table class="table text-justify table-bordered ">
             <thead>
                 <tr style="background-color: darkseagreen">
                     <th><b>Bed Type</b></th>
                     <th>RoomCategory</th>
                     <th><b>Rooms</b></th>
                     <th>Tarrif</th>
                     <th>Total</th>
                 </tr>
             </thead>
             <tbody>
                 <tr data-ng-repeat="bok in bedTypeList">
                     <td> <b>{{bok.BedType}}</b></td>
                     <td> <b>{{bok.RoomCategory}}</b></td>
                     <td><b>{{bok.Count}}</b></td>
                     <td> <b>{{bok.RoomTariff}}</b></td>
                     <td><b>{{bok.Count*bok.RoomTariff}}</b></td>
                 </tr>
             </tbody>
         </table>
        
         <!--<div class="text-center"><h4> <b>Total Rooms={{count}}</b></h4></div>
             <div class="text-right"><h4><b>Total= {{allTotal}}</b></h4></div>-->
     </div>
     <div class="panel-footer text-right">
         
             <b>Total Rooms={{count}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <b>Total= {{allTotal}}</b>
         
     </div>
    </div>

      </div>

