﻿<div>
    <div data-ng-controller="hotelcontroller">
        <div class="container-fluid">
            <form name="loginForm">
                <!--------------------------------------------------------Login----------------------------------------------------->
                <div data-ng-show="loginshow">
                    <div class="text-center">
                        <div data-ng-show="im">
                            <i class="fa fa-spinner fa-spin">
                                <img src="{{imageurl}}" class="img-circle" /></i>
                        </div>
                        <img data-ng-show="in" src="{{imageurl}}" class="img-circle" />
                        <br />
                        <br />
                        <cs-form layout="11.5.3">
                            <cs-field data-ng-click="changeimage()" field="loginDetails.UserUsername" data-ng-model="login.user"></cs-field>
                            <cs-field field="loginDetails.UserPassword" data-ng-model="login.password"></cs-field>
                        </cs-form>
                        <br />
                        <br />
                        <button class="btn btn-default btn-lg" style="text-shadow: black 5px 3px 3px;" ng-class="{'btn-primary':star,'btn-info':!star }" ng-mouseenter="star=!star" ng-mouseleave="star=!star" data-ng-click="loginsuccess(login)"><i class="fa fa-gbp"></i>ogin</button>

                        <br />
                        {{message}}
                    </div>
                </div>
                <!--Home-->
                <div data-ng-show="homegroup">
                    <!---------------------------------------------------------------- Menu Bar  --------------------------------------------------------->


                  @*  <nav class="navbar  navbar-inverse navbar-static-top" role="navigation">
                        <div class="container">
                            <ul class="nav navbar-nav ">
                               
                                <li><a href="#/aaddhotel">Add master</a></li>
                                <li><a href="#/cuser">User master</a></li>
                                <li><a href="#/broom">Room master</a></li>
                                <li><a href="#/dbook">Booking request</a></li>
                                

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <b class="caret"></b>View Booking</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Search Room</a></li>
                                        <li><a href="#">Confirm Booking</a></li>
                                        <li><a href="#">Rating Us</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </li>
                            </ul>

                           
                        </div>
                    </nav>*@
                     
                    <div ng-view=""></div>


                    <!---------------------------------------------------------------- End Menu Bar  --------------------------------------------------------->
                    <nav class="navbar  navbar-inverse navbar-static-top" role="navigation">
                        <div class="container">
                            <div class="text-center">
                                <button class="btn btn-default btn-medium" ng-class="{'btn-warning':qa,'btn-danger':!qa }" ng-mouseenter="qa=!qa" ng-mouseleave="qa=!qa" style="text-shadow: black 5px 3px 3px;" data-ng-click="homes()"><i class="fa fa-home fa-3x"></i><b>Home</b></button>
                                <button class="btn btn-default btn-medium" ng-class="{'btn-warning':e,'btn-danger':!e }" ng-mouseenter="e=!e" ng-mouseleave="e=!e" style="text-shadow: black 5px 3px 3px;" data-ng-click="addhotel()"><b></b><i class="fa fa-h-square fa-3x"></i><b>otel master</b></button>
                                <button class="btn btn-default btn-medium" ng-class="{'btn-warning':ee,'btn-danger':!ee }" ng-mouseenter="ee=!ee" ng-mouseleave="ee=!ee" style="text-shadow: black 5px 3px 3px;" data-ng-click="userdetail()"><i class="fa fa-users fa-3x"></i><b>User master</b></button>
                                <button class="btn btn-default btn-medium" ng-class="{'btn-warning':zz,'btn-danger':!zz }" ng-mouseenter="zz=!zz" ng-mouseleave="zz=!zz" style="text-shadow: black 5px 3px 3px;" data-ng-click="roomdetail()"><i class="fa fa-building fa-3x"></i><b>Room master</b></button>
                                <button class="btn btn-default btn-medium" ng-class="{'btn-warning':xx,'btn-danger':!xx }" ng-mouseenter="xx=!xx" ng-mouseleave="xx=!xx" style="text-shadow: black 5px 3px 3px;" data-ng-click="bookings()"><i class="fa fa-bold fa-3x"></i><b>ooking</b></button>
                            </div>

                        </div>
                    </nav>
                    <br /><br /><br /><br /><br />
                    <!-------------------------------------------------addHotel------------------------------------------------>
                    <div class="row" data-ng-show="addhotl">

                      @*  <div data-ng-form="formn">
                            <cs-form layout="10.5.4">
                                <cs-field field="hotel.hotelname" data-ng-model="addhotels.hname"></cs-field>
                                <cs-field field="hotel.hotelcity" data-ng-model="addhotels.hcity"></cs-field>
                               
                            </cs-form>
                            <div class="text-center">
                                <br />
                                <br />
                                <button class="btn btn-medium btn-default" data-ng-disabled="formn.$invalid" ng-class="{'btn-warning':star,'btn-danger':!star }" ng-mouseenter="star=!star" ng-mouseleave="star=!star" style="text-shadow: black 5px 3px 3px;" data-ng-click="hoteladds(addhotels)">Add Hotel</button>

                            </div>

                        </div>
                        <div class="text-center">
                            <b>You have added {{count}} hotels.</b>
                        </div>
                        <div data-ng-show="addhl">
                            <div class="col-md-10">
                                <table class="table text-justify table-bordered ">
                                    <b data-ng-style="{color:'red'}">Hotel details</b>
                                    <thead>
                                        <tr style="background-color: orange">
                                            <th>Hotel Name</th>
                                            <th>City</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="row in recdetails">

                                            <td>{{row.hname}}</td>
                                            <td>{{row.hcity}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>*@
                    </div>
                    <br /><br /><br /><br /><br />
                    <!---------------------------------------User detail------------------------------------------------------->
                    <div data-ng-show="userdt">
                       @* <div class="text-center">
                            <h1 data-ng-style="{color:'purple'}"><b>User details...</b></h1>
                            <br />
                            <br />
                        </div>
                        <div ng-form="formowner">
                            <cs-form layout="6.4.8">
                                <cs-field field="userdetails.UserHotelname" data-ng-model="userdetl.hotelnm"></cs-field>
                                <cs-field field="userdetails.UserType" data-ng-model="userdetl.utype"></cs-field>
                                <cs-field field="userdetails.UserName" data-ng-model="userdetl.uname"></cs-field>
                                <cs-field field="userdetails.UserUserid" data-ng-model="userdetl.uid"></cs-field>
                                <cs-field field="userdetails.UserUserpassword" data-ng-model="userdetl.upassword"></cs-field>
                                <cs-field field="userdetails.UserContact" data-ng-model="userdetl.umob"></cs-field>
                                <cs-field field="userdetails.UserEmail" data-ng-model="userdetl.uemail"></cs-field><br/>
                             
                        
                            </cs-form>
                            <br />
                            <br />
                            <div class="text-center">
                                <button class="btn btn-medium btn-default" data-ng-disabled="formowner.$invalid" ng-class="{'btn-warning':star,'btn-success':!star }" ng-mouseenter="star=!star" ng-mouseleave="star=!star" style="text-shadow: black 5px 3px 3px;"
                                    data-ng-click="useradds(userdetl)">
                                    Add Detail</button>
                            </div>
                        </div>
                        <div class="text-center" data-ng-show="ownerr">
                            <table class="table text-justify table-bordered ">
                                <b data-ng-style="{color:'red'}">User information details</b>
                                <thead>
                                    <tr style="background-color: orange">

                                        <th>Hotel Name</th>
                                        <th>Type</th>
                                        <th>Full Name</th>
                                        <th>User ID</th>
                                        <th>Contact No</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="user in userdarray">
                                        <td>{{user.hotelnm}}</td>
                                        <td>{{user.utype}} </td>
                                        <td>{{user.uname}}</td>
                                        <td>{{user.uid}}</td>
                                        <td>{{user.umob}} </td>
                                        <td>{{user.uemail}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>*@

                    </div>
                    <!---------------------------------Room master----------------------------------------------------------------------->
                    <div data-ng-show="roomdtl">
                        <div class="text-center">
                            <button class="btn btn-default btn-lg" style="text-shadow: black 5px 3px 3px;" ng-class="{'btn-primary':ww,'btn-info':!ww }" ng-mouseenter="ww=!ww" ng-mouseleave="ww=!ww" data-ng-click="roomadd()">Add room</button>
                            <button class="btn btn-default btn-lg" style="text-shadow: black 5px 3px 3px;" ng-class="{'btn-primary':gg,'btn-info':!gg }" ng-mouseenter="gg=!gg" ng-mouseleave="gg=!gg" data-ng-click="roomtp()">Room type</button>
                        </div>
                        <!-------------room type------------------------------------------------->
                        <div collapse="rtyp">
                            @*<div ng-form="roomd">
                                <div class="text-center">
                                    <h2 data-ng-style="{color:'purple'}"><b>Room Number details...</b></h2>
                                </div>
                                <cs-form layout="10.5.4">
                                    <cs-field field="roomtypedetail.roomHotelname" data-ng-model="roomtyp.rhotelnm" value-list="addroomarray|unique:'addrhotelnm'" data-ng-change="gettype(roomtyp)"></cs-field>
                                    <cs-field field="roomtypedetail.roomCategory" data-ng-model="roomtyp.rcategory" value-list="getnewarray" ></cs-field>
                                    <cs-field field="roomtypedetail.roomRoomno"   data-ng-model="roomtyp.rroomno"></cs-field>
                                </cs-form>
                                <br />
                                <br />
                                <div class="text-center">
                                    <button class="btn btn-medium btn-default" data-ng-disabled="roomd.$invalid" ng-class="{'btn-warning':a,'btn-success':!a }" ng-mouseenter="a=!a" ng-mouseleave="a=!a" style="text-shadow: black 5px 3px 3px;"
                                        data-ng-click="roomdtls(roomtyp)">
                                        Add Detail</button>
                                </div>
                            </div>
                            <div class="text-center" data-ng-show="typeshow">
                                <table class="table text-justify table-bordered ">
                                    <b data-ng-style="{color:'red'}">Room details</b>
                                    <thead>
                                        <tr style="background-color: orange">

                                            <th>Hotel Name</th>
                                            <th>Room Type</th>
                                            <th>Room No</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="rmuser in roomtypearray">
                                            <td>{{rmuser.rhotelnm}}</td>
                                            <td>{{rmuser.rcategory}} </td>
                                            <td>{{rmuser.rroomno}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@


                        </div>
                        <!--------------------------room add  -------------------------------------------------->
                        <div collapse="rmad">

                           @* <div ng-form="addroomd">
                                <div class="text-center">
                                    <h1 data-ng-style="{color:'purple'}"><b>Add room details...</b></h1>
                                </div>
                                <cs-form layout="10.5.4">
                                    <cs-field field="addroomtypedetail.addroomHotelname" data-ng-model="addroomtyp.addrhotelnm"></cs-field>
                                    <cs-field field="addroomtypedetail.addroomCategory" data-ng-model="addroomtyp.addrcategory"></cs-field>
                                    <cs-field field="addroomtypedetail.addroomBedtype"  data-ng-model="addroomtyp.addrbedtype"></cs-field>
                                </cs-form>
                                <br />
                                <br />
                                <div class="text-center">
                                    <button class="btn btn-medium btn-default" data-ng-disabled="addroomd.$invalid" ng-class="{'btn-warning':a,'btn-success':!a }" ng-mouseenter="a=!a" ng-mouseleave="a=!a" style="text-shadow: black 5px 3px 3px;"
                                        data-ng-click="addroomdtls(addroomtyp)">
                                        Add Detail</button>
                                </div>
                            </div>
                            <div class="text-center" data-ng-show="addshow">
                                <table class="table text-justify table-bordered ">
                                    <thead>
                                        <tr style="background-color: orange">

                                            <th>Hotel Name</th>
                                            <th>Category</th>
                                            <th>Bed Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="addrmuser in addroomarray">
                                            <td>{{addrmuser.addrhotelnm}}</td>
                                            <td>{{addrmuser.addrcategory}} </td>
                                            <td>{{addrmuser.addrbedtype}} </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@


                        </div>

                    </div>

                </div>
                <!--------------------------------------room booking --------------------------------------------------------------->
                <div data-ng-show="rmbook">
                    @*<div ng-form="rbbok">
                        <div class="text-center">
                            <h1 data-ng-style="{color:'purple'}"><b>Booking details...</b></h1>
                        </div>
                        <cs-form layout="6.4.8">
                            <cs-field field="booking.bookHotelname" data-ng-model="rbooking.bhname"></cs-field>
                            <cs-field field="booking.bookroomtype" data-ng-model="rbooking.btype"></cs-field>
                            <cs-field field="booking.bookCustname" data-ng-model="rbooking.bcustname"></cs-field>
                            <cs-field field="booking.bookContact" data-ng-model="rbooking.bmob"></cs-field>
                            <cs-field field="booking.bookcheckindate" data-ng-model="rbooking.bindate"></cs-field>
                            <cs-field field="booking.bookcheckoutdate" data-ng-model="rbooking.boutdate"></cs-field>
                            <cs-field field="booking.bookcustcity" data-ng-model="rbooking.bcity"></cs-field>
                            <cs-field field="booking.bookstatus" data-ng-model="rbooking.bstatus"></cs-field>
                            <cs-field field="booking.bookroom" data-ng-model="rbooking.broom"></cs-field>
                        </cs-form>
                        <br />
                        <br />
                        <div class="text-center">
                            <button class="btn btn-medium btn-default" data-ng-disabled="rbbok.$invalid" ng-class="{'btn-warning':a,'btn-success':!a }" ng-mouseenter="a=!a" ng-mouseleave="a=!a" style="text-shadow: black 5px 3px 3px;"
                                data-ng-click="bookingreq(rbooking)">
                                Booking Detail</button>
                        </div>
                    </div>
                    <div class="text-center" data-ng-show="bookshow">
                        <table class="table text-justify table-bordered ">
                            <b data-ng-style="{color:'red'}">Booking details</b>
                            <thead>
                                <tr style="background-color: orange">

                                    <th>Hotel Name</th>
                                    <th>Room Type</th>
                                    <th>Customer Name</th>
                                    <th>Customer Contact</th>
                                    <th>CheckIn Date</th>
                                    <th>CheckOut Date</th>
                                    <th>Customer City</th>
                                    <th>Status</th>
                                    <th>Room Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="bok in bookingarray">
                                    <td>{{bok.bhname}}</td>
                                    <td>{{bok.btype}}</td>
                                    <td>{{bok.bcustname}} </td>
                                    <td>{{bok.bmob}} </td>
                                    <td>{{bok.bindate}} </td>
                                    <td>{{bok.boutdate}} </td>
                                    <td>{{bok.bcity}} </td>
                                    <td>{{bok.bstatus}} </td>
                                    <td>{{bok.broom}} </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>*@

                </div>

            </form>
        </div>
    </div>
</div>
