﻿<div>
 <div class="panel panel-info">
        <div class="panel-heading"><b data-ng-style="{color:'purple'}">Monthly Booking</b></div>
     <div class="panel-body">
         <div ng-form="datePicker">
             <cs-form layout="6.4.6">
                 <cs-field field="Monthdatepicker.MonthDate" data-ng-model="datePickerSelect.monthdate" data-ng-change="monthlyDateClick(datePickerSelect.monthdate)"></cs-field>
             </cs-form>
         </div>
         <div class="rectangle">
             <b data-ng-style="{color:'purple'}">Total Booking Request={{monthrequest}}</b><br/>
             <b data-ng-style="{color:'purple'}">Total Checked In={{monthcount}}</b>
             </div><br/>
         <table class="table text-justify table-bordered ">
             <thead>
                 <tr style="background-color: darkseagreen">
                     <th><b>Bed Type</b></th>
                     <th>RoomCategory</th>
                     <th><b>Rooms</b></th>
                     <th>Tarrif</th>
                     <th>Total</th>
                    
                 </tr>
             </thead>
             <tbody>
                 <tr data-ng-repeat="bok in monthbedTypeList">
                     <td> <b>{{bok.BedType}}</b></td>
                     <td> <b>{{bok.RoomCategory}}</b></td>
                     <td><b>{{bok.Count}}</b></td>
                     <td> <b>{{bok.RoomTariff}}</b></td>
                     <td><b>{{bok.Total}}</b></td>
                 </tr>
             </tbody>
         </table>
     </div>
     <div class="panel-footer text-right">
         <b>Total Rooms = {{monthcount}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <b>Total Amount = {{monthallTotal}}</b>
     </div>
    </div>
    </div>
