﻿<div>
    <div class="panel panel-info">
        <div class="panel-heading"><b>Room Add</b></div>
        <form name="addroomd">
            <div class="panel-body">
                <cs-form layout="10.5.4">
                  <cs-field field="addroomdetail.Hotelnames" data-ng-model="roomtyp.Hotel" value-list=" dldata.HotelLists" data-ng-change="getRoomType(roomtyp.Hotel)"></cs-field>
                   <cs-field field="addroomdetail.addroomType" data-ng-model="roomtyp.RoomType" value-list="arrayname"></cs-field>
                    <cs-field field="addroomdetail.addroomNo" data-ng-model="roomtyp.RoomNumber"></cs-field>
                    <cs-field field="addroomdetail.addroomtariff" data-ng-model="roomtyp.RoomTariff"></cs-field>
                </cs-form>

            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-medium btn-info" data-ng-disabled="addroomd.$invalid"
                    data-ng-click="AddRoomDetails(roomtyp)">
                    Save</button>
            </div>
        </form>
    </div>

    <div class="text-center" data-ng-show="addshow">
        <table class="table text-justify table-bordered ">
            <thead>
                <tr style="background-color: orange">

                    <th>Hotel Name</th>
                    <th>Category</th>
                    <th>Bed Type</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="addrmuser in addroomarray">
                    <td>{{addrmuser.Hotel}}</td>
                    <td>{{addrmuser.RoomCategory}} </td>
                    <td>{{addrmuser.BedType}} </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
