﻿<div  >
      <div class="panel panel-info" >
       <div class="panel-heading"><b>Room Type</b></div>
  <form name="addroomd">
        <div class="panel-body">
           <cs-form layout="10.5.4">
                <cs-field field="addroomtypedetail.addroomHotelname" data-ng-model="addroomtyp.Hotel" value-list="dldata.hotelLists"></cs-field>
                <cs-field field="addroomtypedetail.addroomCategory" data-ng-model="addroomtyp.RoomCategory"></cs-field>
                <cs-field field="addroomtypedetail.addroomBedtype"  data-ng-model="addroomtyp.BedType"></cs-field>
            </cs-form>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-medium btn-info" data-ng-disabled="addroomd.$invalid"
                    data-ng-click="addroomdtls(addroomtyp)">
                Save</button>
        </div>
    </form>
    </div>
   
    <div class="text-center" data-ng-show="addshow">
        <table class="table text-justify table-bordered ">
            <thead>
                <tr style="background-color: orange">

                    <th>Hotel Name</th>
                    <th>Category</th>
                    <th>Bed Type</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="addrmuser in addroomarray">
                    <td>{{addrmuser.RoomNumber}}</td>
                    <td>{{addrmuser.RoomType}} </td>
                    <td>{{addrmuser.Bookings}} </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
