﻿<div>
    <div class="panel panel-info" data-ng-show="chart">
        <div class="panel-heading">Today Date:{{Todaydate}} <b></b></div>
        <div ng-form="dateBook">
            <div class="panel-heading">
                <div ng-form="datePicker">
                    <cs-form layout="6.4.6">
                    <cs-field field="datepicker.dateP" data-ng-model="datePickerSelect.dat" data-ng-change="getDates(datePickerSelect.dat)"></cs-field>
                </cs-form>
                </div>
            </div>
            <div class="panel-body rectangle ">

                <div>
                    <div ng-class="{'pink': checkedModel,'red':ar.status==='Book'}" class="row col-md-3 text-center roomChartBox" data-ng-repeat="ar in RoomCharts" data-ng-model="checkedModel" data-ng-click="roomchartDetail(ar,checkedModel)">
                        <div class="text-left"><b>{{ar.bedtyp}}</b></div>
                        <h4><b class="text-center" data-ng-style="{color:'purple'}">{{ar.Rm}} </b></h4>
                        <div class="text-left"><b>{{ar.catg}}</b></div>
                        <div class="text-left" data-ng-style="{color:'red'}" data-ng-hide="true"><b>{{ar.status}}</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info" data-ng-show="formshow">
    <div class="panel-heading"><b>Booking Details </b></div>
    <div class="panel-body">
        <div ng-form="bookingForm">
            <cs-form layout="10.4.5">
                    <cs-field field="update.bookCustname" data-ng-model="upDate.CustomerName"></cs-field>
                    <cs-field field="update.bookContact" data-ng-model="upDate.MobileNumber"></cs-field>
                    <cs-field field="update.bookcustcity" data-ng-model="upDate.City"></cs-field>
                    <cs-field field="update.bookcheckDate" data-ng-model="upDate.CheckInDate" data-ng-disabled="true"></cs-field>
                    <cs-field field="update.bookcheckOutDate" data-ng-model="upDate.CheckOutDate" data-ng-hide="true"></cs-field>
                    <cs-field field="update.bookcheckUpdateDate" data-ng-model="upDate.UpdatetedOn" data-ng-hide="true"></cs-field>
                    <cs-field field="update.bookroom" data-ng-disabled="true" data-ng-model="RoomNumber"></cs-field>
                </cs-form>
            <div data-ng-show="changeRooms">
                <button class="btn btn-info btn-medium" ng-click="isCollapsed = !isCollapsed">Change Room</button>
                <div collapse="!isCollapsed">

                    <div class="panel-body">
                        <div class="text-right">
                            You choose <b data-ng-style="{color:'red'}">{{RoomNumber}}</b> Room.
                        </div>

                        <div>
                            <div ng-class="{'pink':ar.Rm===RoomNumber,'disableMyClass':ar.status==='Book'}" data-ng-model="checkedModel" data-ng-click="changeRoom(ar,checkedModel)" class="row col-md-3 text-center roomChartBox" data-ng-repeat="ar in RoomCharts">
                                <div class="text-right">
                                    <div class="text-left"><b>{{ar.bedtyp}}</b></div>
                                    <h4 class="text-center" data-ng-style="{color:'purple'}"><b>{{ar.Rm}} </b></h4>
                                    <div class="text-left"><b>{{ar.catg}}</b></div>
                                    <div class="text-left" data-ng-style="{color:'red'}" data-ng-hide="true" ><b>{{ar.status}}</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">

            <button class="btn btn-medium btn-info" data-ng-disabled="bookingForm.$invalid" data-ng-show="updateButton" data-ng-click="updateInfo(upDate)">Update</button>
            <button class="btn btn-medium btn-info" data-ng-disabled="bookingForm.$invalid" data-ng-show="checkInButton" data-ng-click="clickCheckInDate()">Check In</button>
            <button class="btn btn-medium btn-info" data-ng-disabled="bookingForm.$invalid" data-ng-show="checkOutButton" data-ng-click="clickCheckOutDate()">CheckOut</button>
            <button class="btn btn-medium btn-info" data-ng-disabled="bookingForm.$invalid" data-ng-show="cancelButton" data-ng-click="clickCancelDate()">Canceled</button>

            <button class="btn btn-medium btn-info" data-ng-click="backChart()">Back</button>
        </div>
    </div>



</div>
