﻿<div>
<div class="container-fluid">
 
    <div class="panel panel-info" >
        <div class="panel-heading"><b>User Detail</b></div>
        <div class="panel-body">
              <form name="formowner">
        <cs-form layout="6.4.8">
                                <cs-field field="userdetails.UserHotelname" data-ng-model="userdetl.Hotel" value-list=" dldata.hotelLists"></cs-field>
                                <cs-field field="userdetails.UserType" data-ng-model="userdetl.UserType"></cs-field>
                                <cs-field field="userdetails.UserName" data-ng-model="userdetl.Name"></cs-field>
                                <cs-field field="userdetails.UserUserid" data-ng-model="userdetl.UserName"></cs-field>
                                <cs-field field="userdetails.UserUserpassword" data-ng-model="userdetl.Password"></cs-field>
                                <cs-field field="userdetails.UserContact" data-ng-model="userdetl.ContactNo"></cs-field>
                                <cs-field field="userdetails.UserEmail" data-ng-model="userdetl.EmailId"></cs-field><br/>
                             </cs-form>
        <br />
        <br />
        <div class="panel-footer text-right">
            <button class="btn btn-default" data-ng-disabled="formowner.$invalid" ng-class="{'btn-warning':star,'btn-success':!star }" ng-mouseenter="star=!star" ng-mouseleave="star=!star" style="text-shadow: black 5px 3px 3px;"
                data-ng-click="useradds(userdetl)">
                Save</button>
        </div>
    </form>
        </div>
    </div>
  
    <div class="text-center" data-ng-show="ownerr">
        <table class="table text-justify table-bordered ">
            <b data-ng-style="{color:'red'}">User information details</b>
            <thead>
                <tr style="background-color: orange">

                    <th>Hotel Name</th>
                    <th>Type</th>
                    <th>Full Name</th>
                    <th>User ID</th>
                    <th>Contact No</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in userdarray">
                    <td>{{user.Hotel}}</td>
                    <td>{{user.UserType}} </td>
                    <td>{{user.Name}}</td>
                    <td>{{user.UserName}}</td>
                    <td>{{user.ContactNo}} </td>
                    <td>{{user.EmailId}} </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
    </div>