﻿<div>
    <div class="panel panel-info">
        <div class="panel-heading"><b>View Booking Detail</b></div>
        <div class="rectangle text-right">
            <input type="text" data-ng-model="search" placeholder="Search From Table" class="input-sm"/>
        </div>
        <div class="panel-collapse">
            <table class="table text-justify table-bordered ">
                <thead>
                    <tr style="background-color: darkseagreen">

                        <th>Custmer Name</th>
                        <th>Contact No</th>
                        <th>City</th>
                        <th>Room No</th>
                        <th>CheckIn Date</th>
                        <th>Status</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="bok in viewAllBookingArray | filter:search">
                        <td>{{bok.CustomerName}}</td>
                        <td>{{bok.MobileNumber}}</td>
                        <td>{{bok.City}} </td>
                        <td>{{bok.RoomNumber}} </td>
                        <td>{{bok.CheckInDate}}</td>
                        <td>{{bok.Status}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
